<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Update a material</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }
        .content-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .navbar, .footer {
            flex-shrink: 0;
        }
        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            overflow: hidden;
        }
        .content h1, .content p {
            margin: 0;
        }
    </style>
</head>
<body>
<div class="content-wrapper">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" style="font-size: x-large; font-weight: bold; color: white;" href="/home">CC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" style="font-weight: bold">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/calculation/calculations">Calculations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/material/materials">Materials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/user">Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Content Section -->
    <div class="content">
       <div class="card mt-3" th:object="${calculation}">
            <div class="card-header">
                <span th:text="*{name}"></span>
            </div>
           <div class="card-body">
                <p class="card-text"><strong>Rooms:</strong> <span th:text="*{numberOfRooms}"></span></p>
               <p class="card-text"><strong>Total area of construction:</strong> <span th:text="*{squareMeters}"></span></p>
               <p class="card-text"><strong>Total price of construction:</strong> <span th:text="*{calculationPrice}"></span></p>
               <p class="card-text"><strong>Date:</strong> <span th:text="*{date}"></span></p>
           </div>
       </div>
        <h2>Rooms Info</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Room</th>
                <th>Floor Material</th>
                <th>Wall Material</th>
                <th>Ceiling Material</th>
                <th>Floor area</th>
                <th>Wall Area</th>
                <th>Ceiling Area</th>
                <th>Floor Price</th>
                <th>Wall Price</th>
                <th>Ceiling Price</th>
                <th>Total Area</th>
                <th>Total Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="room : ${rooms}">
                <td th:text="${room.roomNumber}"></td>
                <td th:text="${room.floorMaterial}"></td>
                <td th:text="${room.wallMaterial}"></td>
                <td th:text="${room.ceilingMaterial}"></td>
                <td th:text="${room.floorSqM}"></td>
                <td th:text="${room.wallSqM}"></td>
                <td th:text="${room.ceilingSqM}"></td>
                <td th:text="${room.floorMaterialPrice}"></td>
                <td th:text="${room.wallMaterialPrice}"></td>
                <td th:text="${room.ceilingMaterialPrice}"></td>
                <td th:text="${room.roomArea}"></td>
                <td th:text="${room.roomPrice}"></td>
            </tr>
            </tbody>
        </table>
        <form th:action="@{/calculation/export/{id}(id=${calculation.calculationId})}" th:object="${calculation}" method="get" style="display:inline">
            <button type="submit" class="btn btn-primary btn-sm">Export</button>
        </form>
        <div th:if="${message}" class="alert alert-info" style="margin-top: 1.5%" role="alert">
            <p th:text="${message}"></p>
        </div>
    </div>



    <!-- Footer -->
    <footer class="footer bg-light text-center">
        <div class="container">
            <span class="text-muted">&copy; 2024 Construction Calculator. All rights reserved.</span>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

