<!DOCTYPE html>
<html lang="en" xmlns:divth="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Select Materials</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }
        .content-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .navbar, .footer {
            flex-shrink: 0;
        }
            .content {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                overflow: hidden;
                overflow-y: auto;
                padding: 20px;
                margin-top: 2%;
            }
        .content h1, .content p {
            margin: 0;
        }
    </style>
</head>
<body>
<div class="content-wrapper">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" style="font-size: x-large; font-weight: bold; color: white;" href="/home">CC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto" style="font-weight: bold">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Content Section -->
    <div class="content">
        <div class="container">
            <h2>Select materials for rooms</h2>
            <form th:action="@{/calculation/select-materials}" th:object="${roomsDTO}" method="post">
                <div th:each="room, roomStat : *{rooms}">
                    <div class="card  mb-4">
                        <div class="card-header">
                            Room [[${roomStat.index + 1}]]
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="floorSqM"> Floor area
                                    <input type="number" required min="1" step="0.01" class="form-control" th:field="*{rooms[__${roomStat.index}__].floorSqM}" id="floorSqM">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="floorMaterial"> Floor Material
                                    <select class="form-control" id="floorMaterial" th:field="*{rooms[__${roomStat.index}__].floorMaterial}">
                                        <option th:each="material : ${floorMaterials}"
                                                th:value="${material.name}"
                                                th:text="${material.name} + ' ($' + ${material.pricePerSqMeter} + '/sqm)'">
                                        </option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="wallSqm"> Wall area
                                    <input type="number" required min="1" step="0.01" class="form-control" th:field="*{rooms[__${roomStat.index}__].wallSqM}" id="wallSqM">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="wallMaterial"> Wall Material
                                    <select class="form-control" id="wallMaterial" th:field="*{rooms[__${roomStat.index}__].wallMaterial}">
                                        <option th:each="material : ${wallMaterials}"
                                                th:value="${material.name}"
                                                th:text="${material.name} + ' ($' + ${material.pricePerSqMeter} + '/sqm)'">
                                        </option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="floorSqM"> Ceiling area
                                    <input type="number" required min="1" step="0.01" class="form-control" th:field="*{rooms[__${roomStat.index}__].ceilingSqM}" id="ceilingSqM">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="ceilingMaterial"> Ceiling Material
                                    <select class="form-control" id="ceilingMaterial" th:field="*{rooms[__${roomStat.index}__].ceilingMaterial}">
                                        <option th:each="material : ${ceilingMaterials}"
                                                th:value="${material.name}"
                                                th:text="${material.name} + ' ($' + ${material.pricePerSqMeter} + '/sqm)'">
                                        </option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update Material</button>
            </form>
        </div>
        <div th:if="${message}" class="alert alert-info" style="margin-top: 1.5%" role="alert">
            <p th:text="${message}"></p>
        </div>
    </div>



    <!-- Footer -->
    <footer class="footer bg-light text-center">
        <div class="container">
            <span class="text-muted">&copy; 2024 Construction Calculator. All rights reserved.</span>
        </div>
    </footer>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var rooms = /*[[${rooms}]]*/ [];
        rooms.forEach(function(room, index) {
            var floorSelectElement = document.getElementById('floorMaterial' + index);
            var floorPriceElement = document.getElementById('floorMaterialPrice' + index);
            floorSelectElement.addEventListener('change', function() {
                var selectedOption = floorSelectElement.options[floorSelectElement.selectedIndex];
                var priceText = selectedOption.text.match(/\$([0-9.]+)\/sqm/);
                if (priceText) {
                    floorPriceElement.value = priceText[1];
                }
            });

            var wallSelectElement = document.getElementById('wallMaterial' + index);
            var wallPriceElement = document.getElementById('wallMaterialPrice' + index);
            wallSelectElement.addEventListener('change', function() {
                var selectedOption = wallSelectElement.options[wallSelectElement.selectedIndex];
                var priceText = selectedOption.text.match(/\$([0-9.]+)\/sqm/);
                if (priceText) {
                    wallPriceElement.value = priceText[1];
                }
            });

            var ceilingSelectElement = document.getElementById('ceilingMaterial' + index);
            var ceilingPriceElement = document.getElementById('ceilingMaterialPrice' + index);
            ceilingSelectElement.addEventListener('change', function() {
                var selectedOption = ceilingSelectElement.options[ceilingSelectElement.selectedIndex];
                var priceText = selectedOption.text.match(/\$([0-9.]+)\/sqm/);
                if (priceText) {
                    ceilingPriceElement.value = priceText[1];
                }
            });
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

